
/*
SUBHA CSS FILE!!
body{
    --color-borders: #482E1D;
    --color-general-text: #724D24;
    --color-discount: #7AA856;
    --color-unpaid: #AD3119;
    --color-background: #fcfbeb;
    --color-logo: #DBAC40;


    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-background);
}

.logo{
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.signup-login-link{
    color: var(--color-general-text);
    font-size: 30px;
    font-weight: bold;
    font-family: sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.card-body{
    padding: 20px;
    background-color: var(--color-logo);
}

.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 4px;
}


h2{
    text-align: center;
    justify-content: space-between;
    align-items: center;
}

.form{
    font-family: sans-serif;
    font-weight: 500;
    font-size: 18px;
}

.button{
    font-family: sans-serif;
    font-weight: 500;
    background-color: var(--color-logo);
}
*/
body {
    background-color: #fcfbeb;
  }

  h1 {
    color: #482E1D
  }

  h2 {
    color: #724D24
  }

  p {
    color: #724D24
  }

  .late {
    background-color: #ad3319cb;
    color: #724D24;
  }

  .discount {
    background-color: #7AA856cb;
    color: #724D24;
  }

  a.fixed {
    position: fixed;
    top: 10px;
    right: 55px;
  }
  img.fixed {
    position: fixed;
    top: 0;
    right: 0;
  }

  table {
    width: 40%;
    border-collapse: collapse;
    font-size: 17px;
  }

  th {
    background-color: #dbc28a;
    color: #724D24;
    border-bottom: 4px solid #482E1D;
    text-align: left;
    padding: 10px;
  }

  td {
    color: #cfc39d;
    border-bottom: 2px solid #482E1D;
    text-align: left;
    padding: 10px;
  }

  .button:hover {
    background-color: #724D24;
    border: 2px solid #724D24;
    color: #fcfbeb;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 12px;
    margin: 12px 2px;
    border-radius: 12px;
  }

  .button {
    background-color: #fcfbeb;
    border: 2px solid #724D24;
    color: #724D24;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 12px;
    margin: 12px 2px;
    border-radius: 12px;
  }
