body {
    background-color: #fcfbeb;
  }

  h1 {
    color: #482E1D
  }

  h2 {
    color: #724D24
  }

  p {
    color: #724D24
  }

  .late {
    background-color: #f471549c;
    color: #724D24;
  }

  .discount {
    background-color: #7eab5b7b;
    color: #724D24;
  }

  a.fixed {
    position: fixed;
    top: 10px;
    right: 55px;
  }
  img.fixed {
    position: fixed;
    top: 0;
    right: 0;
  }

  table {
    width: 55%;
    border-collapse: collapse;
    font-size: 17px;
  }

  th {
    background-color: #d6b670;
    color: #724D24;
    border-bottom: 4px solid #482E1D;
    text-align: left;
    padding: 10px;
  }

  td {
    color: #724d24;
    border-bottom: 2px solid #482E1D;
    text-align: left;
    padding: 10px;
  }

  .button:hover {
    background-color: #724D24;
    border: 2px solid #724D24;
    color: #fcfbeb;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 12px;
    margin: 12px 2px;
    border-radius: 12px;
  }

  .button {
    background-color: #fcfbeb;
    border: 2px solid #724D24;
    color: #724D24;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 12px;
    margin: 12px 2px;
    border-radius: 12px;
  }

  .label {
    color: #724D24;
    font-size: 13px;
  }

.box {
  width: 200px;
  height: 100px;
  border: 4px solid #482E1D;
  padding: 10px;
  margin: 10px;
}
