{% extends "base.html" %}
{% block title%} {{ title }} {% endblock %}
{% block content%}
  
  <div>
      {% if current_user.is_authenticated %}

        <img class="fixed" src="2.png" width="50" height="50">
            <h1>Welcome {{ current_user.displayname }}</h1>
            <a class="fixed" href="{{url_for('logout')}}">Logout</a>

            {% if current_user.username == 'admin' %}
    <!-- CURRENTLY COMMENTED OUT THE EXPENSES, IF WANT TO TEST, REMOVE {# #}-->

    {#                 
                <p>
                <!--Expenses: Rent,Coaches,Member Discounts,Food and Drink,Staff Payroll,Insurance,Maintenance,Utility Costs-->
                    <h2>Club Expenses</h2>
                    <table border="1">
                        <tr>
                            <th>Urgency</th>
                            <th>Name</th>
                            <th>Expense Type</th>
                            <th>Amount Paid</th>
                            <th>Amount Due</th>
                        </tr>

                        <!--all factors and their placement in the tabl will depend on urgency;urgency is dynamic-->

                        {% for expense in expenses %}
                            <tr> <!--will make one of these rows for each expense-->
                                <td>{{ expense.urgencyLevel }}</td> <!--need something for the expense urgency rank-->
                                <td>{{ expense.name }} </td>
                                <td>{{ expense.type }}</td> <!--need something for the expense type-->
                                <td>{{ expense.due }}</td> <!--need something for the expense amount due-->
                                <td>{{ expense.paid }}</td> <!--need something for the expense amount paid-->
                            </tr>
                        {% endfor%}
                    </table>
                    <form>
                        <label>Pay Amount</label>
                        <input name="Pay Amount"> <br>
                        <label for="pay to">Select an Expense Type:</label>
                        <select name="pay to" id="pay to"> <!--might need to change the ID at some point-->
                            {% for expense in expenses %}
                                <option value={{ expense.type }}>{{ expense.type }} </option>
                            {% endfor %}
                        </select>
                    </form>
                    <button type="submit" form="form1" value="Submit">Pay</button>
                </p> 
    #}
    
                <p>
                    <h2>Club Members</h2>
                    <table>
                        <tr>
                            <th>Display Name</th>
                            <th>Username</th>
                            <th width="150">Sessions Unpaid</th>
                            <th width="20">Streak</th>
                        </tr>
                        {% for user in users %}
                        {% if user.username != "admin" %} <!--Will only display user if they are not admin-->
                            {% if user.sessionsunpaid >0 and user.username != "admin"%} <!--Highlights the user red if they have payments due-->
                                <tr class="late">
                                    <td>{{ user.displayname }}</td>
                                    <td>{{ user.username }}</td>
                                    <td>{{ user.sessionsunpaid }}</td>
                                    <td>{{ user.streak }}</td>
                                </tr>
                            {% elif user.streak == 3 and user.username != "admin"%} <!--Highlights the user green if user have discount-->
                                <tr class="discount">
                                    <td>{{ user.displayname }}</td>
                                    <td>{{ user.username }}</td>
                                    <td>{{ user.sessionsunpaid }}</td>
                                    <td>{{ user.streak }}</td>
                                </tr>
                            {% else %} <!--if user has no payments due or discount print normal-->
                                <tr>
                                    <td>{{ user.displayname }}</td>
                                    <td>{{ user.username }}</td>
                                    <td>{{ user.sessionsunpaid }}</td>
                                    <td>{{ user.streak }}</td>
                                </tr>
                            {% endif %}
                        {% endif %}
                    {% endfor%}
                    </table>
                    <button class="button"> Send Notification </button>
                </p>

            {% endif %}
            

      {% else %}
        <a href="{{url_for('login')}}" class="signup-login-link">Sign in/Sign Up</a>

      {% endif %}

       
  </div>
{% endblock %}
