{% extends "base.html" %}
{% block title%} {{ title }} {% endblock %}
{% block content%}
  
  <div>
      {% if current_user.is_authenticated %}
        <img src="2.png" width="100" height="100">
            <h1>Welcome {{ current_user.displayname }}</h1>
            <a href="{{url_for('logout')}}">Logout</a>
            {% if current_user.username == 'admin' %}
    <!-- CURRENTLY COMMENTED OUT THE EXPENSES, IF WANT TO TEST, REMOVE {# #}-->

    {#                 
                <p>
                <!--Expenses: Rent,Coaches,Member Discounts,Food and Drink,Staff Payroll,Insurance,Maintenance,Utility Costs-->
                    <h2>Club Expenses</h2>
                    <table border="1">
                        <tr>
                            <th>Urgency</th> 
                            <th>Expense Type</th>
                            <th>Amount Paid</th>
                            <th>Amount Due</th>
                        </tr>

                        <!--all factors and their placement in the tabl will depend on urgency;urgency is dynamic-->

                        {% for expense in expenses %}
                            <tr> <!--will make one of these rows for each expense-->
                                <td>{{ expense.urgencyLevel }}</td> <!--need something for the expense urgency rank-->
                                <td>{{ expense.type }}</td> <!--need something for the expense type-->
                                <td>{{ expense.due }}</td> <!--need something for the expense amount due-->
                                <td>{{ expense.paid }}</td> <!--need something for the expense amount paid-->
                            </tr>
                        {% endfor%}
                    </table>
                    <form>
                        <label>Pay Amount</label>
                        <input name="Pay Amount"> <br>
                        <label for="pay to">Select an Expense Type:</label>
                        <select name="pay to" id="pay to"> <!--might need to change the ID at some point-->
                            {% for expense in expenses %}
                                <option value={{ expense.type }}>{{ expense.type }} </option>
                            {% endfor %}
                        </select>
                    </form>
                    <button type="submit" form="form1" value="Submit">Pay</button>
                </p> 
    #}
    
                <p>
                    <h2>Club Members</h2>
                    <table border="1">
                        <tr>
                            <th>Display Name</th>
                            <th>Username</th>
                            <th>Sessions Unpaid</th>
                            <th>Streak</th>
                        </tr>
                        {% for user in users %}
                        <tr>
                            <td>{{ user.displayname }}</td>
                            <td>{{ user.username }}</td>
                            <td>{{ user.sessionsunpaid }}</td>
                            <td>{{ user.streak }}</td>
                        </tr>
                    {% endfor%}
                    </table>
                </p>

            {% endif %}
            

      {% else %}
        <a href="{{url_for('login')}}" class="signup-login-link">Sign in/Sign Up</a>

      {% endif %}

       
  </div>
{% endblock %}
