{% extends "admin/master.html" %}

{% block head %}
    <link rel="stylesheet" href="{{url_for('static', filename='main.css')}}">
    <title> USER PAGE </title>
{% endblock%}

{% block body %}


    <!--User Balance-->
    <div class="box">
      <h2>Payment Amount Due: $25</h2>
    </div>

    <!--User makes a payment-->
    <div class="box">
        <p>
        <h2>Make A Payment</h2>
            <form>
                <label class="label">Pay Amount</label>
                <input name="Pay Amount"> <br>
                </select>
            </form>
            <button class="button" padding="5" type="submit" form="form1" value="Submit">Pay</button>
        </p>
    </div>

<!--Announcements-->
    <div class="box">
      <h2>Announcement Board</h2>
        <p>There are no announcements :D</p> 
    </div>

    <!--Register for Classes-->
    <p>
        <h2>Upcoming Sessions</h2>
        <table>
            <tr>
                <th>Session</th>
                <th>Session Date</th>
                <th>Session Time</th>
                <th>Instructor</th>
                <th>Register</th>
            </tr>
                <td>Strength Yoga</td>
                <td>Monday, May 13</td>
                <td>5:00am-6:00am</td>
                <td>Claudia Serhiy</td>
                <td><button class="button" padding="5">Register</button></td>
            </tr>
            </tr>
                <td>Pilates</td>
                <td>Tuesday, May 14</td>
                <td>1:00pm-2:00pm</td>
                <td>Chi Eslem</td>
                <td><button class="button" padding="5">Register</button></td>
            </tr>
            </tr>
                <td>Weight Training</td>
                <td>Wednesday, May 15</td>
                <td>6:00pm-7:00pm</td>
                <td>Kazik Aurelia</td>
                <td><button class="button" padding="5">Register</button></td>
            </tr>
            </tr>
                <td>Spin + Sculpt</td>
                <td>Thursday, May 16</td>
                <td>12:00pm-1:00pm</td>
                <td>Barry Martin</td>
                <td><button class="button" padding="5">Register</button></td>
            </tr>
             </tr>
                <td>Zumba</td>
                <td>Friday, May 17</td>
                <td>8:00pm-9:00pm</td>
                <td>Selma Diamanto</td>
                <td><button class="button" padding="5">Register</button></td>
            </tr>
        </table>
    </p>

{% endblock %}
